doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{ site.tagline } - #{ site.name }
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    //if lt IE 9
      script(src='//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='//oss.maxcdn.com/respond/1.4.2/respond.min.js')
    include _icons.html
  body

    header.site-header
      .container
        .wrap
          .logo-container
            a.logo-link(href='/')
              img.logo-img.img-responsive(src='/img/logo.png', alt='#{ site.name }')
        .wrap
          .tagline
            != site.tagline

    .site-contacts
      .container-fluid
        .wrap
          .block
            i.fa.fa-envelope
            |&nbsp;
            a(href='mailto:#{ site.email }')= site.email
          .block
            i.fa.fa-phone
            |&nbsp;
            a(href='tel:#{ site.phone }')= site.phone
          .block
            i.fa.fa-mobile
            |&nbsp;
            a(href='tel:#{ site.mobile }')= site.mobile

    main.site-main
      != yield

    footer.site-footer
      .container
        hr
        p &copy; #{ new Date().getFullYear() } 
          a(href='http://#{ site.domain }/') #{ site.name }
        p 
          | #{ site.address.street }
          br
          | #{ site.address.city }, #{ site.address.state } #{ site.address.zip}
        p
          a(href='#{ gmapUrl }', target='_blank')
            | View Google Map &nbsp;
            i.fa.fa-external-link

    script(src='//maps.google.com/maps/api/js?sensor=true')
    script(src='/js/bundle.js')